
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
                    <!-- Icons -->
                    {{ if .Site.Menus.icon }}
                    <div class="layui-row layui-col-space10 about_left_icon"></div>
                        {{ range sort .Site.Menus.icon }}
                        <div class="layui-col-md1 layui-col-sm4 layui-col-xs4">
                        <a href="{{ .URL }}"><i class="fa fa-{{ .Name }}" style="font-size:28px;"></i></a>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
        <p class="m-0 text-center text-white">Bay Area Cotton Masks Volunteers </p>
        <p class="m-0 text-center text-white">{{ .Site.Params.footer.copyright }}</p>
      </div><!-- /.container -->
    </footer>
