<title>{{ .Site.Title }}</title>

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="description" content="{{ .Site.Params.description }}" />
<meta name="author" content="{{ .Site.Params.author }}" />

<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}layui/css/layui.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/default.css" />
<link rel="stylesheet" async href="{{ .Site.BaseURL }}font-awesome-4.7.0/css/font-awesome.min.css">
<script src="{{ .Site.BaseURL }}layui/layui.js"></script>

<!-- Bootstrap core CSS -->
<link
  rel="stylesheet"
  href="{{ .Site.BaseURL }}assets/vendor/bootstrap/css/bootstrap.min.css"
/>
<!-- Custom styles for this template -->
<link
  rel="stylesheet"
  href="{{ .Site.BaseURL }}assets/css/business-frontpage.css"
/>
