
      <div class="row">

        <div class="col-md-12 mb-5">
          <h2>What We Do</h2>
          <hr>
          {{ range .Site.Params.summary.description.items }}
          <h4 style="colorblue">{{ .description }}</h4>
          {{ end }}
        </div>
      </div>
      <div class="row">
      <div class="col-md-12 mb-5">
        <h2>Frequently Asked Questions</h2>
        <hr>
        <ul> 
          <li><a class="faq_question btn-lg col-md-12 mb-2" target="_blank" href="https://docs.google.com/document/d/1OwhzWQHFyNR1JiOviBKmWA57lOquFe63snaz0V7mY9I/edit?usp=sharing">Do you have any suggested Mask Patterns ?</a></li>
            <li><a class="faq_question btn-lg col-md-12 mb-2" target="_blank" href="https://docs.google.com/document/d/1cQzl3uwwMXu8fxfVxIHa8You9GKTmAuCJJQbrRRwdp0/edit?usp=sharing">Do you have any suggestions on Mask Pack Inserts?</a></li>
              <li><a class="faq_question btn-lg col-md-12 mb-2" target="_blank" href="https://docs.google.com/document/d/1zr1bhY6F1ZvUDjZblYOOVfd3ttk_jwJhEwvK6X8Kkmw/edit?usp=sharing ">How to prepare a simple mask kit?</a></li>
                <li><a class="faq_question btn-lg col-md-12 mb-2" target="_blank" href="https://docs.google.com/document/d/1k62mI7dDZPUnrz-YzN6AnVQ4wFYxyBWdMUgc0k5Ap38/edit?usp=sharing">Do you have a Newbee Guide for B.A.C.M. Masks?</a></li>
                  <li><a class="faq_question btn-lg col-md-12 mb-3" target="_blank" href="https://docs.google.com/document/d/1web2PK6M-igpCx_IeqZussJ1zL4Au8csZJaeuB24mUY/edit?usp=sharing">Do you have a guide for Mask Straps (Donors & Requestors)? </a></li>
      </ul>
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <h2>Drop Off Locations</h2>
      <hr>
      Please message through Facebook to B.A.C.M. group admin to obtain street address. </br>
      <a href="">Pleasanton</a></li>&ensp;
      <a href="">San Ramon</a></li>&ensp;
      <a href="">Livermore</a></li>&ensp;
      <a href="">Saratoga</a></li>&ensp;
      <a href="">Fremont</a></li>&ensp;
      <a href="">Alamo</a></li>&ensp;
      <a href="">San Jose</a></li>&ensp;
      <a href="">Dublin</a></li>&ensp;
  
    </div>
    </div>
   </div>




      </div><!-- /.row -->
